
@font-face {
    font-family: 'manrope-bold';  
    src: url('./manrope-bold-2.otf'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'manrope-extrabold';  
    src: url('./manrope-extrabold-3.otf'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'manrope-light';  
    src: url('./manrope-light-4.otf'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'manrope-medium';  
    src: url('./manrope-medium-5.otf'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'manrope-regular';  
    src: url('./manrope-regular-6.otf'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'manrope-semibold';  
    src: url('./manrope-semibold-7.otf'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'manrope-thin';  
    src: url('./manrope-thin-8.otf'); 
    font-weight: normal;
    font-style: normal;
}